.registrationWrapper{
  align-self: center;
  margin: 0 91px 0 107px;
  padding: 40px 0 66px 0;
  width: 533px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  text-align: center;

  background: #FFFFFF;
}

.registrationForm{
  padding: 0 58.5px 0 65px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;

  font-family: 'Circe';
  font-size: 18px;
}

.formTitle{
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.formInput{
  width: 100%;
  padding: 0 8px 7px 52px;

  border: none;
  border-bottom: 1px solid #E0E0E0;
  outline: none;
}

.formInput::placeholder{
  color: #BDBDBD;
}

.inputLabel{
  position: relative;
  width: 100%;
  display: flex;
  gap: 20px;
}

.inputIcon{
  width: 24px;
  height: 24px;

  position: absolute;
  left: 8px;
  bottom: 7px;

  color: #E0E0E0;

  transition: color 250ms linear;
}

.formInput:focus + .inputIcon{
  color:#24CCA7;
}

.progressBar {
  max-width: 180px;
  background-color: #e5f1e9;
  margin-top: 5px;
  border-radius: 20px;
}
