.loginPage{
  margin: auto;
  width: 1280px;
  height: 720px;

  display: flex;

  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;

  background-image: url('assets/images/login_page.svg');
  background-size: 435.2px 419.5px;
  background-position: 76px 150px;
  background-repeat: no-repeat;
}

.pageTitle{
  align-self: flex-end;
  margin: 0 162px 77.5px 200px;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.inputLabel{
  position: relative;
  display: flex;
  gap: 20px;
}

.inputIcon{
  width: 24px;
  height: 24px;

  position: absolute;
  left: 8px;
  bottom: 7px;

  color: #E0E0E0;

  transition: color 250ms linear;
}

.formInput:focus + .inputIcon{
  color:#24CCA7;
}
