.inputSwitch {
  width: 0;
  height: 0;
  visibility: hidden;
}
.labelSwitch {
  width: 80px;
  height: 40px;
  display: block;
  background-color: fff;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
}
.labelSwitch::after {
  content: '';
  width: 44px;
  height: 44px;
  background-color: #24cca7;
  background-image: url(assets/icons/all_icons/plus.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  position: absolute;
  border-radius: 70px;
  top: -3px;
  left: -3px;
  transition: 0.5s;
}

.inputSwitch:checked + .labelSwitch:after {
  left: calc(100% + 3px);
  transform: translateX(-100%);
  background-color: #ff6596;
  background-image: url(assets/icons/all_icons/minus.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
}

.inputSwitch:checked + .labelSwitch {
  background-color: #fff;
}

/* .labelSwitch :active:after {
  width: 160px;
  border: 2px solid red;
} */
